@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Lato:wght@300;700&display=swap');

body {
  font-family: 'Gowun Dodum', sans-serif;
  margin: 0px;
}

h1 {
  font-family: 'Lato', sans-serif;
  color: rgb(250,250,250);
  font-size: 42px;
  font-weight: 700;
  padding-bottom: 15px;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Lato', sans-serif;
  color: rgb(138, 135, 135);
  font-weight: 300;
}

a {
  text-decoration: none;
  color: rgb(39, 38, 38);
}

.hero {
  background-image: url(https://source.unsplash.com/random);
  background-size: cover;
  padding: 100px 0;
}

.hero p {
  font-size: 32px;
  color: rgb(250, 250, 250);
}

.container {
  margin: 50px auto;
  width: 700px;
}

.green-link {
  font-size: 24px;
  background-image: linear-gradient(rgb(148, 250, 189), rgb(117, 202, 151));;
}

.green-link:hover {
  font-size: 24px;
  background-image: linear-gradient(rgb(125, 240, 171), rgb(92, 184, 129));;
}

@media(max-width: 1200) {
  .container {
    width: 800px;
  }
}

@media(max-width: 992) {
  .container {
    width: 700px;
  }
}
@media(max-width: 768px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 576px) {
  .container {
    width: 350px;
  }
  .hero {
    padding: 40px 0;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero p {
    font-size: 22px;
  }
}
